/* Layout Styles - Connor Park - s3432303*/


#wrapper {
 background: white;
 width: 1260px;
 margin: auto;
position: relative;
border: 2px solid #000000; /* black border */
}
#header {
 height:200px;
 padding: .5em;
 background-color: darkblue;
 border-bottom: 1px solid black;
 text-align: center;

 }
#content {
 background-color: white;
 border-left: 3px white;
 
 height: 1200px;
 padding: 1em;
}
 #footer {
 	clear:both;
 	height: 70px;
 	background-color: lightblue;
 	border-top: 3px solid black;
 	text-align: center;
 }